@import url("./general.css");
@import url("./nav.css");
@import url("./button.css");
@import url("./select.css");
@import url("./slider.css");

#left {
  position: fixed;
  left: -50px;
  z-index: 2;
}

#cam {
    display: none;
    flex-direction: row-reverse;
}

#right {
  position: fixed;
  right: -50px;
  z-index: 2;
}

#slider, #slider-label {
    display: none;
}
