@import url("./general.css");
@import url("./nav.css");
@import url("./button.css");
@import url("./select.css");
@import url("./slider.css");

#left {
  position: fixed;
  left: -100px;
}

#cam {
    display: none;
}

#right {
  position: fixed;
  right: 0px;
}

#slider, #slider-label {
    display: none;
}
