@import url('./general.css');
@import url('./nav.css');

select {
    display: block;
    margin: 20px auto;
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: 3px solid var(--foreground-color);
    padding: 10px;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
    width: calc(100% - 40px);
    max-width: 600px;
    outline: none;
    border-radius: 0;
}

button {
    display: block;
    margin: 20px auto;
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: 3px solid var(--foreground-color);
    padding: 10px;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
    width: calc(100% - 40px);
    max-width: 600px;
    outline: none;
    border-radius: 0;
}

#palettes p {
    display: block;
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 10px auto;
    font-size: 28px;
    text-align: left;
}

#palettes p div {
    margin: 0 10px -10px 0;
}

canvas {
    display: block;
    margin: 30px auto;
}

.color-square {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 3px solid var(--foreground-color);
}

@media only screen and (max-width: 400px) {
    #palettes p {
        width: calc(100% - 40px);
        margin: 10px auto;
        font-size: 22px;
        text-align: left;
    }
    
    #palettes p div {
        margin: 0 5px -5px 0;
    }
    
    .color-square {
        width: 30px;
        height: 30px;
    }
}